<div class="card my-2" id="item-:id:">
    <div class="card-body">
        <div class="form-group">
            <label for="item_description[:id:]">Descrição de item</label>
            <input type="text" name="item_description[:id:]" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="item_quantity[:id:]">Quantidade</label>
            <input type="number" min="1" name="item_quantity[:id:]" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="item_price[:id:]">Preço</label>
            <input type="number" min="0.01" name="item_price[:id:]" class="form-control" 
            step="0.01"
            placeholder="Ex.: 10,50"
            pattern="[0-9]?[0-9]?(\,[0-9][0-9]?)?"
            required>
        </div>
    </div>
    <div class="card-footer text-right">
        <button type="button" onClick="removeItem('item-:id:')" class="btn btn-danger">Remover item</button>
    </div>
</div>